#news {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;

    .super-headline {
        font-size: 1rem;
        font-weight: 600;
        color: $iconGray;
    }

    h2 {
        font-size: 2rem;
        font-weight: 300;
        color: $myOrange;
    }

    h3 {
        align-self: center;
        padding: 1rem;
        font-size: 1.3rem;
        font-weight: 300;
        color: $myOrange;
    }

    .articles-row {
        display: flex;
        gap: 2rem;
        overflow: scroll;
    }

    article {
        width: 26rem;
        background-color: #FFF7F2;
        color: $iconGray;

        .article-image-container {
            position: relative;
            width: 100%;
            height: 20rem;
            overflow: hidden;
        }

        img {
            height: 100%;
        }

        p {
            margin: 2rem 1rem 2rem 1rem;
            line-height: 1.8rem;
        }
    }

    a.button {
        text-decoration: none;
        color: $myDarkGray;
        display: inline-block;
        line-height: 2.5rem;
        width: 10rem;
        height: 2.5rem;
        font-size: 1rem;
        font-weight: 600;
        border: solid 1px #f4a76c;
        text-align: center;
        vertical-align: middle;
        margin-left: 1rem;
        margin-bottom: 4rem;
    }

    @include breakpoint($desktop) {

        .articles-row {
            display: flex;
            gap: 2rem;
            overflow: scroll;
            justify-content: space-between;
        }

        h2 {
            font-size: 3rem;
        }
    }
}