#workshops {
  display: flex;
  flex-direction: column;
  gap: 10rem;

  #workshop-intro-text {
    margin: 2rem;
    margin-top: 4rem;

    .super-headline {
      color: $myDarkGray;
      font-weight: 600;
    }

  }

  p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
  }

  h2 {
    color: $myOrange;
    font-size: 28px;
    font-weight: 300;
  }

  .level {
    position: relative;
    padding: 2rem;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: $myDarkGray;
    color: white;

    .mobile-level-number {
      display: none;
    }

    .dancer-container {
      top: -3rem;
      position: absolute;
      align-self: center;

      .dancer-icon {
        position: relative;
        align-self: center;
        padding: 2rem;
        background-color: $iconGray;
        border-radius: 100%;
        height: fit-content;
        width: fit-content;
        z-index: 100;

        img {
          height: 6rem;
        }
      }

      .level-number {
        display: flex;
        position: absolute;
        top: -1.3rem;
        right: -1.3rem;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
        z-index: 99;
        background-color: $iconNumberGray;

        p {
          align-self: center;
          align-content: center;
          margin: auto;
          font-size: 1.8rem;
          font-weight: 600;
          color: $myOrange;
        }
      }
    }

    >img:first-child {
      margin-bottom: 30px;
    }

    >img,
    blockquote {
      align-self: center;
    }

    h3 {
      color: $myOrange;
      font-size: 22px;
      font-weight: 300;
    }

    .quote-container {
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .quote-sign {
      align-self: center;
      color: $iconGray;
      font-size: 10rem;
      font-weight: 800;
      margin-top: -5rem;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $myOrange;
    }

    .level-text {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    a.button {
      width: 12rem;
    }

    blockquote {
      align-self: center;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  @include breakpoint($desktop) {
    gap: 2rem;

    .super-headline {
      font-size: 0.8rem;
    }

    h2 {
      font-size: 3rem;
    }

    .level {
      width: 55rem;
      padding: 2rem;
      align-items: center;
      margin-left: 6rem;

      .mobile-level-number {
        position: absolute;
        display: inline-block;
        font-weight: 600;
        font-size: 12rem;
        color: $myDarkGray;
        left: -5.4rem;
      }

      .dancer-container {
        position: relative;
        margin: auto;
        top: 0;

        .level-number {
          display: none;
        }

      }



    }

    .level:nth-child(even) {
      flex-direction: row;

      .quote-container {
        flex-direction: column-reverse;
      }
    }

    .level:nth-child(odd) {
      flex-direction: row-reverse;

      .quote-container {
        flex-direction: column;
      }

    }

    .level:nth-child(2) {
      margin-right: 1rem;
      align-self: flex-end;

      .mobile-level-number {
        top: -2.5rem;
      }
    }

    .level:nth-child(3) {
      align-self: center;
    }

    .level:nth-child(4) {
      margin-right: 23rem;
      align-self: flex-start;

      .mobile-level-number {
        bottom: -1.75rem;
      }
    }

  }
}