---
title: Marcus G. Miller | Choreographer
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="style.css">
        <meta name="description" content="Page description">
        <!-- favicons https://realfavicongenerator.net/ -->
        <!-- og image -->
    </head>
    <body>
        <header>
      <div id="topbar">
        <a href="/"
          ><h1><strong>MARCUS G. MILLER</strong> | Choreographer</h1></a
        >
        <nav id="mainnav">
          <ul>
            <li><a href="#workshops">Workshops</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#news">News</a></li>
          </ul>
        </nav>

        <template id="burger-template">
          <button
            type="button"
            aria-expanded="false"
            aria-label="Menu"
            aria-controls="mainnav"
          >
            <div id="burger-top"></div>
            <div id="burger-bottom"></div>
          </button>
        </template>
      </div>

      <div id="hero-text">
        <h2>
          I believe <br />
          you can dance.
        </h2>
        <a href="#" class="button">BOOK WORKSHOP</a>
      </div>
    </header>

        {{ content }}
        <footer>
            <div>
                <h4>Thank you for your interest in Art!</h4>
                <p>© 2004 – {{year}} Marcus G. Miller</p>
                <a href="mailto:datenschutz@marcus-miller.at">
                    datenschutz@marcus-miller.at
                </a>
            </div>
            <a href="#">Imprint & Privacy</a>
        </footer>
        <script src='/js/main.js'></script>
    </body>
</html>